@import "tailwindcss";

 *{
   /* display: grid; */
   align-items: center;
    box-sizing: border-box;
    margin: 0;
   /*  padding:0; */
    height: auto;
    width: auto;
  }

.tituloabout{
  margin: 30px;
  font-size: 50px;
}